.item {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
}

.item__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.item__group {
    width: 70%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__group-title {
    margin-bottom: 10px;
}

.item__group input {
    padding: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background: #fff;

    appearance: none;
}

.item__group textarea {
    height: 180px;
    width: 800px;
}

.item__group input[type="file"] {
    border: none;
    background: #f8f8f8;
}


.item__button {
    display: flex;
    justify-content: center;
}

.item__button-submit {
    width: 15%;
    height: 50px;
    cursor: pointer;
    background: #fca931;
    padding: 10px 15px;
    border: 1px solid #fca931;
    border-radius: 5px;
}



.item__image-column,
.item__input-column {
    display: flex;
    flex-direction: column;

}

.item__group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.item__image-column {
    width: 30%;
}

.item__input-column {
    width: 45%;
}

.item__image-preview {
    width: 300px;
    height: 300px;
    border: none;
    background: #f8f8f8;
    background-size: cover;
    background-position: center;
}