.item {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
}

.item__inner {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
    margin: 0 auto;
    width: 80%;
}
.item-column {
    width: 100%;
}

.item__group {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__iconbutton {
    display: flex;
}

.item__group-title {
    margin-bottom: 10px;
}


.item__group label {
    margin-bottom: 5px;
}

.item__group textarea {
    height: 180px;
    width: 100%;
}

.item__button-submit {
    width: 100%;
    cursor: pointer;
    background: #fb8e8e;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fb8e8e;
    border-radius: 5px;
}
.item__image-preview {
    width: 300px;
    height: 300px;
    border: none;
    background: #f8f8f8;
    background-size: cover;
    background-position: center;
}

.item-purchase,
.form-comment {
    width: 100%;
}