.container {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    
}

.product-index {
    display: flex;
    justify-content: center;
}

.product-index__item a {
    text-decoration: none;
    color: #aaa;
}

.product-index__item a.active {
    color: #FF0000;
    font-weight: bold;
}

.product-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;

}

.product-list__item {
    width: calc(33.333% - 20px);
}

.product-list__image img {
    width: 100%;
    height: auto;
    max-width: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.product-list__name {
    margin-top: 10px;
}