.mypage-container {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
}

.profile-iamge__inner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-image-edit {
    margin-left: 20px;
}

.profile-image-edit__label {
    display: block;
    border: none;
    color: #ff4b4b;
    background: #fff;
    border-radius: 8px;
    height: 30px;
}


.product-tab {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #aaa;
}

.product-tab-name {
    list-style: none;
}

.product-tab-name a {
    text-decoration: none;
    color: #aaa;
    margin-right: 50px;

}

.product-tab-name a.active {
    color: #FF0000;
    font-weight: bold;
}

.product-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
}

.product-list__item {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list__image img {
    width: 100%;
    height: auto;
}

.product-list__item a {
    text-decoration: none;
}